@import "../../../../styles/_variables";


:host {
  display: block;
  background: #E0E6EB;
  padding: 2rem;
  border: 1px solid rgba(0, 0, 0, 0.25);

  .nshc__dialog {

    &--label {
      color: $nshc-primary;
      display: block;
      font-size: 1rem;
    }

    &--input {
      width: 100%;
      border: none;
      display: block;
      font-size: 1rem;
      padding: 1rem;
      margin: .5rem 0 1rem 0;
    }

    &--button {
      background: $nshc-primary;
      color: white;
      padding: 1rem 2rem;
      border: 0;
      box-shadow: none;

      &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
      }
    }

    &--formGroup {
      display: flex;
      flex-direction: column;
      padding: 2rem 0;
    }

    &--error-text {
      color: red;
    }
  }
}
