<header>
  <h1 class="h5">Forgotten Password</h1>
</header>

<form [formGroup]="forgottenPasswordForm" (ngSubmit)="sendForgottenPassword()" method="post">
    <section class="nshc__dialog--formGroup">
        <label class="nshc__dialog--label" for="email">Email</label>
        <input class="nshc__dialog--input" id="email" type="text" formControlName="email"/>
      <button class="nshc__dialog--button" type="submit">Send</button>
    </section>
</form>

<footer>
    <p class="nshc__dialog--error-text" *ngIf="errorMessage">{{errorMessage}}</p>
</footer>
