<main class="nshc__event--wrapper">
    <ng-template [ngIf]="content">
      <header>
        <h1 class="h2">{{content.title}}</h1>
        <p>{{content.date.toDate() | date: 'dd/MM/yyyy'}}</p>
      </header>
      <section>
        <p>{{content.description}}</p>
      </section>
    </ng-template>
</main>
