@import "../../../../styles/_variables";

:host {

  .nshc__event {

    &--wrapper {
      display: grid;

      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-gap: 2rem;

      grid-template-areas: "header";

      padding: 2rem;
    }

  }
}
