<div class="nshc__form--wrapper">
    <div class="nshc__form--header text-c">
        <h1 class="h4">Membership Form</h1>
    </div>

    <form [formGroup]="membershipForm" (ngSubmit)="onSubmit()" method="post" class="nshc__form">

        <div class="nshc__form-control">
            <h5 class="h5">* are required fields</h5>
        </div>

        <div class="nshc__form-control">
            <label for="surname" class="nshc__form-control--label">Surname *</label>
            <input id="surname" type="text" formControlName="surname" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.surname.errors" class="nshc__membership--error">
                <div *ngIf="form.surname.errors.required">Surname is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="givenName" class="nshc__form-control--label">Given Name *</label>
            <input id="givenName" type="text" formControlName="givenName" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.givenName.errors" class="nshc__membership--error">
                <div *ngIf="form.givenName.errors.required">Given Name is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="firstAddress" class="nshc__form-control--label">Address 1 *</label>
            <input id="firstAddress" type="text" formControlName="firstAddress" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.firstAddress.errors" class="nshc__membership--error">
                <div *ngIf="form.firstAddress.errors.required">Address 1 is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="secondAddress" class="nshc__form-control--label">Address 2</label>
            <input id="secondAddress" type="text" formControlName="secondAddress" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.secondAddress.errors" class="nshc__membership--error">
                <div *ngIf="form.secondAddress.errors.required">Address 2 is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="townCity" class="nshc__form-control--label">Town / City *</label>
            <input id="townCity" type="text" formControlName="townCity" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.townCity.errors" class="nshc__membership--error">
                <div *ngIf="form.townCity.errors.required">Town / City is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="county" class="nshc__form-control--label">County *</label>
            <input id="county" type="text" formControlName="county" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.county.errors" class="nshc__membership--error">
                <div *ngIf="form.county.errors.required">County is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="postcode" class="nshc__form-control--label">Postcode *</label>
            <input id="postcode" type="text" formControlName="postcode" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.postcode.errors" class="nshc__membership--error">
                <div *ngIf="form.postcode.errors.required">Postcode is required</div>
                <div *ngIf="form.postcode.errors.pattern">Postcode has been typed in incorrectly</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="email" class="nshc__form-control--label">Email Address *</label>
            <input id="email" type="email" formControlName="email" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.email.errors" class="nshc__membership--error">
                <div *ngIf="form.email.errors.required">Email is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="twitter" class="nshc__form-control--label">
                Twitter
                <span   class="nshc__form--tooltip__icon"
                        matTooltip="Please include the @ symbol"
                        matTooltipClass="nshc-tooltip"
                        matTooltipPosition="right"
                        #tooltip="matTooltip"
                        (click)="tooltip.toggle()"
                >?</span>
            </label>
            <input id="twitter" type="text" formControlName="twitter" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
            <label for="phoneNumber" class="nshc__form-control--label">Phone Number *</label>
            <input id="phoneNumber" type="tel" formControlName="phoneNumber" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.phoneNumber.errors" class="nshc__membership--error">
                <div *ngIf="form.phoneNumber.errors.required">Phone Number is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="dateOfBirth" class="nshc__form-control--label">Date of Birth *</label>
            <input id="dateOfBirth" type="date" formControlName="dateOfBirth" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.dateOfBirth.errors" class="nshc__membership--error">
                <div *ngIf="form.dateOfBirth.errors.required">Date of Birth is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label class="nshc__form-control--label">Gender *</label>

            <mat-radio-group formControlName="gender">
              <div class="nshc__form-control--checkbox-wrapper">
                <mat-radio-button id="male"  class="nshc__form-control--input" value="male">Male</mat-radio-button>
              </div>

              <div class="nshc__form-control--checkbox-wrapper">
                <mat-radio-button id="female" class="nshc__form-control--input" value="female">Female</mat-radio-button>
              </div>
            </mat-radio-group>

            <div *ngIf="submitted && form.gender.errors" class="nshc__membership--error">
                <div *ngIf="form.gender.errors.required">Gender is required</div>
            </div>

        </div>

        <div class="nshc__form-control">
            <label for="ethnicity" class="nshc__form-control--label">Ethnicity *</label>
            <select id="ethnicity" formControlName="ethnicity" class="nshc__form-control--input">
                <option value="" selected>Please Select</option>
                <option value="white_british">white british</option>
                <option value="white_irish">white irish</option>
                <option value="white_other">white other</option>
                <option value="mixed_caribbean">mixed - white and black Caribbean</option>
                <option value="mixed_african">mixed - white and black African</option>
                <option value="mixed_asian">mixed - white and Asian</option>
                <option value="mixed_other">mixed - other</option>
                <option value="asian_british_indian">Asian or Asian British - Indian</option>
                <option value="asian_british_pakistani">Asian or Asian British - Pakistani</option>
                <option value="asian_british_bangladeshi">Asian or Asian British - Bangladeshi</option>
                <option value="asian_british_other">Asian or Asian British - Other</option>
                <option value="black_british_caribbean">Black or Black British - Caribbean</option>
                <option value="black_british_african">Black or Black British - African</option>
                <option value="black_british_Other">Black or Black British - Other</option>
                <option value="chinese">Chinese</option>
                <option value="other">Other Ethnic Group</option>
            </select>
            <div *ngIf="submitted && form.ethnicity.errors" class="nshc__membership--error">
                <div *ngIf="form.ethnicity.errors.required">Ethnicity is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="disability" class="nshc__form-control--label">Disability *</label>
            <select id="disability" formControlName="disability" class="nshc__form-control--input">
                <option value="" selected>Please Select</option>
                <option value="no_disability">No Disability</option>
                <option value="deaf">Deaf</option>
                <option value="visually_impaired">Visually Impaired</option>
                <option value="hearing_impaired">Hearing Impaired</option>
                <option value="physical_disability">Physical Disability</option>
                <option value="learning_disability">Learning Disability</option>
                <option value="multiple_disability">Multiple Disability</option>
            </select>
            <div *ngIf="submitted && form.disability.errors" class="nshc__membership--error">
                <div *ngIf="form.disability.errors.required">Disability is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="occupation" class="nshc__form-control--label">Occupation *</label>
            <input id="occupation" type="text" formControlName="occupation" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.occupation.errors" class="nshc__membership--error">
                <div *ngIf="form.occupation.errors.required">Occupation is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="doctor" class="nshc__form-control--label">Doctor</label>
            <input id="doctor" type="text" formControlName="doctor" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.doctor.errors" class="nshc__membership--error">
                <div *ngIf="form.doctor.errors.maxlength">Doctor field has too many characters</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="emergencyContactName" class="nshc__form-control--label">Emergency Contact Name *</label>
            <input id="emergencyContactName" type="text" formControlName="emergencyContactName" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.emergencyContactName.errors" class="nshc__membership--error">
                <div *ngIf="form.emergencyContactName.errors.required">Emergency Contact Name is required</div>
                <div *ngIf="form.emergencyContactName.errors.pattern">Emergency Contact Name has been typed in incorrectly</div>
                <div *ngIf="form.emergencyContactName.errors.maxlength">Emergency Contact has too many characters</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="emergencyContactNumber" class="nshc__form-control--label">Emergency Contact Number *</label>
            <input id="emergencyContactNumber" type="text" formControlName="emergencyContactNumber" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.emergencyContactNumber.errors" class="nshc__membership--error">
                <div *ngIf="form.emergencyContactNumber.errors.required">Emergency Contact Relationship is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="emergencyContactRelationship" class="nshc__form-control--label">Emergency Contact Relationship *</label>
            <select id="emergencyContactRelationship" formControlName="emergencyContactRelationship" class="nshc__form-control--input">
                <option value="" selected>Please Select</option>
                <option value="spouse_partner">Spouse/Partner</option>
                <option value="parent_guardian">Parent/Guardian</option>
                <option value="other">Other</option>
            </select>
            <div *ngIf="submitted && form.emergencyContactRelationship.errors" class="nshc__membership--error">
                <div *ngIf="form.emergencyContactRelationship.errors.required">Emergency Contact Relationship is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="medicalHistory" class="nshc__form-control--label">Medical History</label>
            <textarea id="medicalHistory" formControlName="medicalHistory" class="nshc__form-control--input"></textarea>
        </div>

        <div class="nshc__form-control">
            <label for="umpire" class="nshc__form-control--label">
                Umpire *
                <span   class="nshc__form--tooltip__icon"
                        matTooltip="Please include your level if possible"
                        matTooltipClass="nshc-tooltip"
                        matTooltipPosition="right"
                        #tooltip="matTooltip"
                        (click)="tooltip.toggle()"
                >?</span>
            </label>
            <input id="umpire" type="text" formControlName="umpire" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.umpire.errors" class="nshc__membership--error">
                <div *ngIf="form.umpire.errors.required">Umpire is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="coach" class="nshc__form-control--label">
                Coach *
                <span   class="nshc__form--tooltip__icon"
                        matTooltip="Please include your level if possible"
                        matTooltipClass="nshc-tooltip"
                        matTooltipPosition="right"
                        #tooltip="matTooltip"
                        (click)="tooltip.toggle()"
                >?</span>
            </label>
            <input id="coach" type="text" formControlName="coach" class="nshc__form-control--input"/>
            <div *ngIf="submitted && form.coach.errors" class="nshc__membership--error">
                <div *ngIf="form.coach.errors.required">Coach is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="comments" class="nshc__form-control--label">Comments</label>
            <textarea id="comments" formControlName="comments" class="nshc__form-control--input"></textarea>
        </div>

        <div class="nshc__form-control">
            <label for="whereHereUs" class="nshc__form-control--label">Where did you hear about us?</label>
            <textarea id="whereHereUs" formControlName="whereHereUs" class="nshc__form-control--input"></textarea>
        </div>

        <div class="nshc__form-control">
            <mat-checkbox id="photoConsent" formControlName="photoConsent" class="nshc__form-control--input">
              Tick to opt out of images for promotional purposes
            </mat-checkbox>
        </div>

        <div class="nshc__form-control">
            <button [disabled]="sendingContactForm" type="submit" class="nshc__form--button">Submit</button>
        </div>

    </form>

    <div class="nshc__form--footer text-c">
        <div *ngIf="membershipFormResponse">
            <h5>{{membershipFormResponse}}</h5>
        </div>
        <div class="nshc__membership--tc">
            <p>By registering you are agreeing to the terms and conditions of NSHC’s ‘Safeguarding &
                Protecting Young People Policy’. You accordingly consent to any son/daughter travelling to
                venues for matches and training by transport provided by NSHC which may include travelling in
                other players’ private cars. Copies of all NSHC policies are available on the NSHC website.</p>
        </div>
    </div>

</div>
