@import "../../../../styles/_variables";

:host {
  padding: 2rem 0;
  display: block;

  @media (max-width: $mobile) {
    padding: 0;
  }

  .nshc__form-control {
    padding: 1rem 0;
    width: 80%;
    display: block;
    margin: auto;

    &--label {
      color: $nshc-primary;
      display: block;
      font-size: 18px;
    }

    &--input {
      width: 100%;
      border: none;
      display: block;
      font-size: 1rem;
      padding: 1rem;

    }

    &--checkbox-wrapper {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      padding-top: 1rem;

      label {
        font-size: 1rem;
        margin: 0;
        display: flex;
        align-items: center;
      }

      input {
        margin: 0 1rem;
        width: auto;
      }
    }

  }

  .nshc__form {
    padding: 1rem;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);

    &--wrapper {
      width: 68%;
      max-width: 800px;
      display: block;
      margin: auto;
      border: 0;
      background: #E0E6EB;

      @media (max-width: 920px) {
        width: 100%;
      }
    }

    &--tooltip {
      &__icon {
        border-radius: 50%;
        background: #000531;
        color: #FFFFFF;
        width: 20px;
        height: 20px;
        display: inline-block;
        vertical-align: baseline;
        text-align: center;
        padding-right: 1px;
      }
    }

    &--header, &--footer {
      background: white;
      width: 100%;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.25);
    }

    &--button {
      background: $nshc-primary;
      color: white;
      padding: 1rem 4rem;
      border: 0;
      box-shadow: none;

      &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
      }
    }
  }

  .nshc__membership {

    &--error {
      color: red;
    }

    &--tc {
      margin: 2em 0;
    }
  }

  // Multiline input labels
  span {
    white-space: nowrap;
  }

}
