@import "../../../styles/variables";

:host {
  display: flex;
  margin: 0 auto;
  padding: 2rem;
  background: white;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;

  @media (min-width: $mobile) {
    width: 68%;
    margin: 2rem auto;
  }

  .nshc__iframe {
    width: 100%;
  }

}
