<ng-template [ngIf]="latestEvent">
  <h2 class="nshc__highlight--heading">{{latestEvent.title}}</h2>
  <a [routerLink]="'event/' + latestEvent.href" class="nshc__highlight--button">
    <p class="nshc__highlight--button-text">Learn More</p>
  </a>
</ng-template>
