@import "../../../styles/_variables";

:host {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding: 1rem 2rem;
  flex-direction: column;

  @media (min-width: $mobile) {
    padding: 0;
    flex-direction: row;
  }

}

.nshc__highlight--button-text {
  margin: 0;
  text-transform: capitalize;
}

.nshc__highlight--heading {
  margin: 0;
  text-transform: capitalize;
}

.nshc__highlight--button {
  display: flex;
  justify-self: center;
  align-self: center;
  text-decoration: none;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  @media (min-width: $mobile) {
    height: 4rem;
    margin-bottom: 0;
    margin-left: 4rem;
  }

  &:hover {
    background: var(--text-color-primary);

    .nshc__highlight--button-text {
      color: white;
    }
  }
}
