<ng-template [ngIf]="isResetPassword">
  <h1 class="h2">Reset your Password</h1>

  <header class="nshc__verify--header">
    <h2 class="h5">Reset your password by typing in a new password</h2>
  </header>

  <form [formGroup]="verifyPasswordForm" (ngSubmit)="onSubmit()" method="post" class="nshc__verify">
    <label for="password" class="nshc__verify--label">New Password:</label>
    <input id="password" type="password" formControlName="password" class="nshc__verify--input"/>

    <div *ngIf="submitted && form.password.errors" class="nshc__verify--error">
      <div *ngIf="form.password.errors.required">Please Enter a password</div>
    </div>

    <button [disabled]="verifyPasswordForm.invalid" class="nshc__verify--button" type="submit">Confirm</button>
  </form>

  <footer class="nshc__verify--footer">
    <p *ngIf="error">{{error}}</p>
  </footer>

</ng-template>

<ng-template [ngIf]="isVerifyEmail">
  <h1 class="h2">Verify your email</h1>

  <header class="nshc__verify--header">
      <p>You have successfully verified your email and password!</p>
  </header>
</ng-template>
