@import "../../../../styles/_variables";

:host {
  padding: 2rem;
}

.nshc__verify {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
  background: #E0E6EB;
  align-items: baseline;

  &--label {
    font-size: 1rem;
  }

  &--input {
    width: 100%;
    border: none;
    display: block;
    min-height: 2.8em;
    font-size: 16px;
    padding: 1em;
  }

  &--header {
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: center;
    padding: 1rem;
  }

  &--footer {
    border: 1px solid rgba(0, 0, 0, 0.25);
    min-height: 4rem;
    padding: 1rem 2rem;
  }

  &--button {
    background: $nshc-primary;
    color: white;
    padding: 1em 4em;
    border: 0;
    box-shadow: none;
    margin-top: 1rem;

    &:disabled {
      opacity: 0.25;
      cursor: not-allowed;
    }
  }

  &--error {
    color: red;
  }

}
