@import "../../../../styles/_variables";

:host {
  width: 100%;
  display: grid;

  grid-template-columns: auto;
  grid-template-rows: auto;

  grid-template-areas:
          "header"
          "teams"
          "teams-list"
          "team-info"
  ;

  margin: 2rem 0;

  .nshc__teams {

    &--heading {
      width: 100%;
      padding: 0 2.75em;
    }

    &--games, &--teams, &--table, &--players {
      display: flex;
    }

    &--games {
      flex-direction: column;

      &__wrapper {
        box-shadow: 0 -2px 8px -1px rgba(0,0,0,0.19), 0 -1px 8px -1px rgba(0,0,0,0.23);
        width: 84%;
        margin: 1em auto;
      }

      &__row {
        display: flex;
        padding: 1em 0;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;

        p {
          margin: 0;
        }
      }

      &__see-all {
        margin: auto;
        display: block;
      }

    }

    &--teams {
      grid-area: teams-list;

      display: flex;
      justify-content: center;

      flex-direction: column;
      padding: 2rem;

      &__wrapper {
        width: 100%;
        display: flex;
      }

      &__heading {
        width: 100%;
        text-transform: capitalize;
      }

      &__team {
        background: none;
        color: $nshc-primary;
        width: 50%;
        padding: 1em 0;
        border: 0;
        outline: none;
        text-align: left;
        cursor: pointer;

        &.active {
          text-decoration: underline;
        }
      }

    }

    &--info {
      grid-area: team-info;

      display: flex;
      justify-content: center;
      padding: 2rem;

      &__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        &--info {
          margin-bottom: 1rem;
        }

      }
    }

    &--players {
      display: flex;
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;

      &__figure {
        display: flex;
        flex-direction: column;
        align-items: center;

        &--image {
          //
        }

        &--caption {
          color: $nshc-primary;
        }

      }

    }

    &--table {

      &__position {
        width: 10%;
        text-align: center;
      }

      &__team {
        width: 30%;
      }

      &__win, &__draw, &__loss {
        width: 10%;
        text-align: center;
      }

      &__points {
        width: 30%;
        text-align: right;
      }

      &__wrapper {
        box-shadow: 0 -2px 8px -1px rgba(0,0,0,0.19), 0 -1px 8px -1px rgba(0,0,0,0.23);
        width: 84%;
        margin: 1em auto;
      }

      &__row {
        display: flex;
        padding: 1em 2em;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;

        p {
          margin: 0;
        }
      }

    }

  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}

.nshc__button {
  display: inline-block;
  position: relative;
  cursor: pointer;
  line-height: 2rem;
  padding: 0 2rem;
  font-size: 1rem;
  font-weight: 600;
  font-family: $font;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  vertical-align: middle;
  white-space: nowrap;
  outline: none;
  user-select: none;
  transition: all .3s ease-out;
  border: 1px solid $nshc-primary;
  margin: 1rem;

  &:hover {
    border: 1px solid $nshc-secondary;
    background-color: $nshc-primary;
    color: $nshc-secondary;
  }

  &:active {
    animation: ripple 200ms ease-in-out;
  }

  &.active {
    border: 1px solid $nshc-secondary;
    background-color: $nshc-primary;
    color: $nshc-secondary;
  }

  @include keyframes('ripple') {
    0% {
      opacity: 1;
      transform: scale(1);
    }

    100% {
      opacity: 0.75;
      transform: scale(1.25);
    }
  }

}

.nshc__teams--navigation {
  grid-area: teams;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  padding: 2rem;
}

.nshc__teams--header {
  grid-area: header;
  padding: 2rem;
}
