<div class="nshc__teams--header">
  <h1 class="h2">Teams</h1>
  <h2 class="h5">To find out more information about our teams please select a category.</h2>
</div>

<nav class="nshc__teams--navigation">
    <div *ngFor="let team of allTeams$ | async">
        <button class="nshc__button ripple spec--category-{{team.name}}"
                [ngClass]="{'active': activeCategory === team.name}"
                (click)="toggleCategory(team.name)">
            {{team.name}}
        </button>
    </div>
</nav>

<section class="nshc__teams--teams" *ngIf="category$ | async">
  <h2 class="nshc__teams--teams__heading">{{ (category$ | async)?.name }}</h2>
  <div class="nshc__teams--teams__wrapper">
        <ng-container *ngFor="let team of (category$ | async)?.teams">
            <button class="nshc__teams--teams__team spec--change-team"
                    [ngClass]="{'active': activeTeam === team.name}"
                    (click)="toggleTeam(team)">
              {{team.name}}
            </button>
        </ng-container>
    </div>
</section>

<section class="nshc__teams--info" *ngIf="team$ | async">
    <div class="nshc__teams--info__wrapper">
        <div class="nshc__teams--info__wrapper--info">
            <h4>Captain:</h4>
            <p>{{(team$ | async)?.captain.name}}</p>
        </div>
        <div class="nshc__teams--info__wrapper--info">
            <h4>Phone number:</h4>
            <p>{{(team$ | async)?.captain.phone}}</p>
        </div>
        <div class="nshc__teams--info__wrapper--info">
            <h4>Email:</h4>
            <p>{{(team$ | async)?.captain.email}}</p>
        </div>
    </div>
</section>
