<header class="nshc__auth--header">

    <nav mat-tab-nav-bar>
        <a mat-tab-link
           *ngFor="let link of navLinks"
           [routerLink]="link.path"
           [routerLinkActiveOptions]="{ exact: true }"
           routerLinkActive="routerLinkActive"
           [active]="setTabAsActive(link)">
            {{link.label}}
        </a>
    </nav>

</header>

<section>
    <router-outlet></router-outlet>
</section>
