<header class="nshc__form--header text-c text-primary" *ngIf="noDataMessage">
  <h1 class="h5">{{noDataMessage}}</h1>
</header>

<section class="nshc__form--wrapper" *ngIf="!noDataMessage">
    <header class="nshc__form--header text-c text-primary">
      <h1 class="h5">Your Profile</h1>
    </header>

    <form [formGroup]="profileForm" (ngSubmit)="updateProfileInformation()" method="post" class="nshc__form">

        <div class="nshc__form-control" *ngIf="memberInformation?.id">
            <h5>Id:</h5>
            <p>{{memberInformation.id}}</p>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.givenName">
            <label for="givenName" class="nshc__form-control--label">First Name: </label>
            <input id="givenName" type="text" formControlName="givenName" [value]="formControls.givenName.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.surname">
            <label for="surname" class="nshc__form-control--label">Surname: </label>
            <input id="surname" type="text" formControlName="surname" [value]="formControls.surname.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.dateOfBirth">
            <label for="dateOfBirth" class="nshc__form-control--label">Date of Birth: </label>
            <input id="dateOfBirth" type="date" formControlName="dateOfBirth" [value]="formControls.dateOfBirth.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.email">
            <label for="email" class="nshc__form-control--label">Email: </label>
            <input id="email" type="text" formControlName="email" [value]="formControls.email.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.phoneNumber">
            <label for="phoneNumber" class="nshc__form-control--label">Phone Number: </label>
            <input id="phoneNumber" type="text" formControlName="phoneNumber" [value]="formControls.phoneNumber.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.firstAddress">
            <label for="firstAddress" class="nshc__form-control--label">First Address: </label>
            <input id="firstAddress" type="text" formControlName="firstAddress" [value]="formControls.firstAddress.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.secondAddress">
            <label for="secondAddress" class="nshc__form-control--label">Second Address: </label>
            <input id="secondAddress" type="text" formControlName="firstAddress" [value]="formControls.secondAddress.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.townCity">
            <label for="townCity" class="nshc__form-control--label">Town / City: </label>
            <input id="townCity" type="text" formControlName="townCity" [value]="formControls.townCity.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.postcode">
            <label for="postcode" class="nshc__form-control--label">Postcode: </label>
            <input id="postcode" type="text" formControlName="postcode" [value]="formControls.postcode.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.emergencyContactName">
            <label for="emergencyContactName" class="nshc__form-control--label">Emergency Contact Name: </label>
            <input id="emergencyContactName" type="text" formControlName="emergencyContactName" [value]="formControls.emergencyContactName.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.emergencyContactNumber">
            <label for="emergencyContactNumber" class="nshc__form-control--label">Emergency Contact Number: </label>
            <input id="emergencyContactNumber" type="text" formControlName="emergencyContactNumber" [value]="formControls.emergencyContactNumber.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control" *ngIf="formControls.emergencyContactRelationship">
            <label for="emergencyContactRelationship" class="nshc__form-control--label">Emergency Contact Relationship:</label>
            <select id="emergencyContactRelationship" formControlName="emergencyContactRelationship" class="nshc__form-control--input">
                <option value="" selected>Please Select</option>
                <option value="spouse_partner">Spouse/Partner</option>
                <option value="parent_guardian">Parent/Guardian</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="nshc__form-control" *ngIf="memberInformation?.password">
            <h5>Password:</h5>
            <p>{{memberInformation.password.toString() | password}}</p>
        </div>

        <div class="nshc__form-control">
            <button class="nshc__form--button" type="submit">Save Changes</button>
        </div>
    </form>


    <footer class="nshc__form--footer">
        <button class="nshc__form--button" (click)="resetPassword()">Reset Password</button>
    </footer>

</section>
