@import "../../../../../../styles/_variables";

:host {
  display: block;
  width: 100%;
  padding: 2rem;

  .nshc__form-control {
    padding: 1em 0;
    width: 80%;
    display: block;
    margin: auto;

    &--label {
      color: $nshc-primary;
      display: block;
      font-size: 18px;
    }

    &--input {
      width: 100%;
      border: none;
      display: block;
      min-height: 2.8em;
      font-size: 16px;
      padding: 1em;
    }

    &--error {
      padding-top: 1em;
      color: red;
    }

  }

  .nshc__form {
    padding: 1rem;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);

    &--wrapper {
      display: block;
      margin: auto;
      border: 0;
      background: #E0E6EB;
    }

    &--header, &--footer {
      background: white;
      position: relative;
      width: 100%;
      height: 6em;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.25);

      h1 {
        color: $nshc-primary;
      }
    }

    &--footer {
      display: flex;
      justify-content: flex-end;
    }

    &--button {
      background: $nshc-primary;
      color: white;
      padding: 1rem 4rem;
      border: 0;
      box-shadow: none;

      &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
      }
    }

  }

}
