@import "../../../styles/_variables";

:host {
  background: var(--color-white);
  border-top: 1px solid rgba(0, 0, 0, 0.25);
  position: sticky;
  padding: 1rem;
  display: block;
}

.nshc__footer--copyright {
  text-align: center;
  max-width: 80%;
  margin: auto;
  padding: 1rem;
}

.nshc__footer--version {
  text-align: center;
  margin: auto;
  padding: 1rem;
}

.nshc__footer--links--wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 20vw 1rem 20vw;
  flex-direction: column;

  @media (min-width: $mobile) {
    flex-direction: row;
  }
}

.nshc__footer--links--container {
  display: flex;
  flex-direction: column;
  max-width: 16rem;

  flex: 0 0 50%;
  padding: 1rem;

  @media (min-width: $mobile) {
    flex: 1 0 auto;
    padding: 0;

    &:last-child {
      align-items: flex-end;
    }
  }

}
