<footer>

  <nav class="nshc__footer--links--wrapper">
      <div class="nshc__footer--links--container">
          <h5>Links</h5>
          <a href="http://www.mrha.co.uk/">MRHA</a>
          <a href="http://mrhawl.clubbuzz.co.uk/">MRHAWL</a>
          <a href="./assets/pdf/NSHC_Safeguarding_Policy.pdf" target="_blank">Safeguarding & Protecting Young People Policy</a>
      </div>

      <div class="nshc__footer--links--container">
          <h5>Links</h5>
          <a href="tel:+07768-595-888">Phone Number</a>
          <a href="mailto:contact@northstaffordhc.co.uk">Email Address</a>
      </div>
  </nav>

  <p class="nshc__footer--copyright">© 2019 North Stafford Hockey Club. All Rights Reserved.
      ‘North Stafford Hockey Club’ and ‘NSHC’ are trading styles of North Stafford Hockey Club Limited.
      A Company registered in England & Wales. (Co. Regn. No. 06176824). Registered Office: 12 Eleanor
      View, Newcastle-under-Lyme, ST5 3SD.</p>

  <p class="nshc__footer--version">Version: {{version}}</p>

</footer>
