@import "../../../styles/_variables";

:host {
  display: block;

  .nshc__kit {
    &--wrapper {
      padding: 2rem;
    }
    &--content {
      display: flex;
      flex-direction: column;
      padding: 1rem 0;
    }

    &--link {
      padding: 0.25rem 1rem;
    }
  }

}
