<h1 class="h2">Kit Details</h1>

<section class="nshc__kit--wrapper">
  <div class="nshc__kit--content">
    <h2 class="h4">Junior Order Forms:</h2>
    <a class="nshc__kit--link" href="./assets/xlsx/Junior_Playing_Kit_Order_Form.xlsx" target="_blank">Junior Playing Kit Order Form</a>
    <a class="nshc__kit--link" href="./assets/xlsx/Junior_Leisurewear_Order_Form.xlsx" target="_blank">Junior Leisurewear Order Form</a>
  </div>
  <div class="nshc__kit--content">
    <h2 class="h4">Adult Order Forms:</h2>
    <a class="nshc__kit--link" href="./assets/xlsx/Adult_Playing_Kit_Order_Form.xlsx" target="_blank">Adult Playing Kit Order Form</a>
    <a class="nshc__kit--link" href="./assets/xlsx/Adult_Leisurewear_Order_Form.xlsx" target="_blank">Adult Leisurewear Order Form</a>
  </div>
  <div class="nshc__kit--content">
    <h2 class="h4">Brochure Kit:</h2>
    <a class="nshc__kit--link" href="./assets/pdf/NSHC_Brochure_2017-2018.pdf" target="_blank">North Stafford Hockey Club Brochure Kit</a>
  </div>
</section>
