<header class="nshc__gallery--header">
  <h1 class="h2">Gallery</h1>
</header>

<aside class="nshc__gallery--header">
  <h2 class="h3">2018-2019</h2>
  <h3 class="h4">Photos courtesy of Liv Sutcliffe</h3>
</aside>

<section class="nshc__gallery--main">
    <ng-container *ngFor="let image of images">
        <figure class="nshc__card--wrapper">
            <img [src]="image"
                 alt="An awesome picture"
                 class="nshc__card--img">
        </figure>
    </ng-container>
</section>
