@import "../../../styles/_variables";

:host {
  h1 {
    color: black;
  }

  .nshc__gallery {

    &--bar {
      background: $nshc-secondary;
      box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.10), 0 2px 0 0 rgba(0, 0, 0, 0.2);
      margin-bottom: 2em;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1em;

      &--link {
        margin: 0;
        padding: 0 1em;
        color: $nshc-primary;

        &:hover {
          text-decoration: underline;
        }
      }

    }

  }

  .nshc__gallery--main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @media( max-width: $mobile) {
      flex-direction: row;
    }

      figure {
        max-width: 25%;

        @media( max-width: $mobile) {
          max-width: 100%;
        }

        img {
          max-width: 100%;
        }
      }
  }

  .nshc__gallery--header {
    padding: 2rem;
  }

  .nshc__section {
    margin: 1em auto;
    background: white;
    padding: 1em;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.19), 0 0 5px 0 rgba(0, 0, 0, 0.25);
    width: 75%;

    @media(min-width: $mobile) {
      width: 50%;
    }

    h5 {
      margin: 0;
    }
  }

}
