<nav class="nshc__header--nav hide--laptop">
    <a class="nshc__header--nav----link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a>
    <a class="nshc__header--nav----link" routerLink="/about" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">About us</a>
    <a class="nshc__header--nav----link" routerLink="/teams" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Teams</a>
    <a class="nshc__header--nav----link" routerLink="/kit" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Kit</a>
    <a class="nshc__header--nav----link" routerLink="/membership" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Membership</a>
    <a class="nshc__header--nav----link" routerLink="/gallery" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Gallery</a>
    <a class="nshc__header--nav----link" routerLink="/contact" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Contact</a>

    <div class="nshc__header--nav----gap"></div>

    <a *ngIf="loggedIn" class="nshc__header--nav----link" routerLink="/auth" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active">Account</a>

    <a *ngIf="!loggedIn" class="nshc__header--nav----link" routerLink="/login" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Login</a>
    <a *ngIf="loggedIn" class="nshc__header--nav----link " (click)="logoutUser()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Logout</a>
</nav>

<nav class="nshc__header--nav-mobile">
    <span class="nshc__header--nav-mobile----toggle" (click)="toggleSideNav()">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
    </span>

    <div>
        <a *ngIf="!loggedIn" class="nshc__header--nav----link" routerLink="/login" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Login</a>
        <a *ngIf="loggedIn" class="nshc__header--nav----link c-pointer" (click)="logoutUser()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Logout</a>
    </div>
</nav>

<nav class="nshc__sidenav" *ngIf="sideNav">
    <div class="nshc__sidenav--container">
        <span class="nshc__sidenav--close" (click)="toggleSideNav()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
        </span>
        <nav class="nshc__header--nav">
            <a class="nshc__header--nav----link" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a>
            <a class="nshc__header--nav----link" routerLink="/about" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">About us</a>
            <a class="nshc__header--nav----link" routerLink="/teams" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Teams</a>
            <a class="nshc__header--nav----link" routerLink="/kit" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Kit</a>
            <a class="nshc__header--nav----link" routerLink="/membership" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Membership</a>
            <a class="nshc__header--nav----link" routerLink="/gallery" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Gallery</a>
            <a class="nshc__header--nav----link" routerLink="/contact" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Contact</a>
            <br>
            <a *ngIf="loggedIn" class="nshc__header--nav----link" routerLink="/auth" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active">Account</a>
            <br>
            <a *ngIf="!loggedIn" class="nshc__header--nav----link" routerLink="/login" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Login</a>
            <a *ngIf="loggedIn" class="nshc__header--nav----link" (click)="logoutUser()" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Logout</a>
        </nav>
    </div>
</nav>
