@import "../../../styles/_variables";

.nshc__header--nav {
  display: flex;
  width: 100%;
  padding: 0 2rem;

  justify-content: center;
  flex-direction: column;
  align-items: flex-start;

  @media(min-width: $laptop) {
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
  }
}

.nshc__header--nav----link {
  display: block;
  padding: 1rem;
  margin: 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0);
  color: var(--text-color-header);
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.25);
  }

  @media(max-width: $laptop) {
    padding: 0.5em;
  }

  &.active {
    border-bottom: 0.1rem solid $nshc-primary-light;
  }

  @media(min-width: $laptop) {
    &:last-child {
      margin-left: 2rem;
    }
  }

}

.nshc__header--nav----gap {
  flex: 1;
}

.nshc__sidenav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 99;

  &--close {
    fill: $nshc-text-color;
    cursor: pointer;
  }

  &--container {
    padding: 2rem;

    position: fixed;
    height: 100%;

    background: $nshc-primary;
    color: $nshc-text-color;
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.5), 4px 0 20px -1px rgba(0, 0, 0, 0.5);
  }

  @media(min-width: $laptop) {
    display: none;
    visibility: hidden;
  }

  .nshc__header--nav----link {
    padding: 1rem 0 0 0;
    color: $nshc-text-color;
  }
}

.nshc__header--nav.hide--laptop {
  box-shadow: 0px 2px 8px -1px rgba(0, 0, 0, 0.19), 0 1px 8px -1px rgba(0, 0, 0, 0.23);
}

.nshc__header--nav-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;

  @media(min-width: $laptop) {
    display: none;
    visibility: hidden;
  }

  &----toggle {
    fill: $nshc-primary;
    cursor: pointer;
  }
}
