@import "../../../../../../styles/_variables";

:host {
  display: block;
  width: 100%;
  padding: 2rem;

  .nshc__form-control {
    padding: 1em 0;
    width: 80%;
    display: block;
    margin: auto;

    &--label {
      color: $nshc-primary;
      display: block;
      font-size: 18px;
    }

    &--input {
      width: 100%;
      border: none;
      display: block;
      min-height: 2.8em;
      font-size: 16px;
      padding: 1em;
    }

    &--error {
      padding-top: 1em;
      color: red;
    }

  }

  .nshc__form {
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background: #E0E6EB;

    &--button {
      background: $nshc-primary;
      color: white;
      padding: 1em 4em;
      border: 0;
      box-shadow: none;

      &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
      }
    }
  }

  .nshc__member--footer {
    margin-top: 2rem;
    display: flex;
    justify-content: flex-end;
  }

  .nshc__event {
    border: 1px solid rgba(0, 0, 0, 0.25);
    padding: 2rem;
    margin-bottom: 2rem;

    &--list {
      margin-bottom: 2rem;
    }

    &--button {
      background: $nshc-primary;
      color: white;
      padding: 1em 4em;
      border: 0;
      box-shadow: none;
      flex: 0 0 auto;

      &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
      }

      &----wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
      }
    }

  }

}
