<header>
    <h1 class="h2">Events</h1>
</header>

<section class="nshc__event--section" *ngIf="events.length > 0">
    <h2 class="h5">All Events</h2>

    <ng-template ngFor let-t [ngForOf]="events" let-i="index" [ngForTrackBy]="trackById">
        <aside class="nshc__event">
            <div class="nshc__event--list">
              <h3 class="h6">Title:</h3>
              <p>{{t.title}}</p>
            </div>

          <div class="nshc__event--list">
            <h3 class="h6">Description:</h3>
            <p>{{t.description}}</p>
          </div>

          <div class="nshc__event--list">
            <h3 class="h6">Infomation:</h3>
            <p>{{t.information}}</p>
          </div>

          <div class="nshc__event--list">
            <h3 class="h6">Active:</h3>
            <p>{{t.active}}</p>
          </div>

          <div class="nshc__event--button----wrapper">
            <button class="nshc__event--button" (click)="toggleEventForm(t)">Edit</button>
            <button class="nshc__event--button" (click)="deleteEventGetId(t.id)">Delete</button>
          </div>
        </aside>
    </ng-template>

</section>

<section *ngIf="createAnEvent">
    <h2 class="h5">Create an event</h2>

    <form [formGroup]="eventForm" (ngSubmit)="publishEvent()" method="post" class="nshc__form">

        <div class="nshc__form-control">
            <label for="title" class="nshc__form-control--label">Title: </label>
            <input id="title" type="text" formControlName="title" [value]="formControls.title.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
            <label for="description" class="nshc__form-control--label">Description: </label>
            <input id="description" type="text" formControlName="description" [value]="formControls.description.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
            <label for="information" class="nshc__form-control--label">Information: </label>
            <input id="information" type="text" formControlName="information" [value]="formControls.information.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
          <label for="href" class="nshc__form-control--label">Href: </label>
          <input id="href" type="text" formControlName="href" [value]="formControls.href.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
          <mat-checkbox id="active" formControlName="active" class="nshc__form-control--input">
            Active
          </mat-checkbox>
        </div>

        <div class="nshc__form-control">
            <button class="nshc__form--button" type="submit">Submit</button>
        </div>

    </form>
</section>

<section *ngIf="editAnEvent">
    <h2>Edit an event</h2>

    <form [formGroup]="eventForm" (ngSubmit)="publishEvent()" method="post" class="nshc__form">

        <div class="nshc__form-control">
            <label for="title" class="nshc__form-control--label">Title: </label>
            <input id="title" type="text" formControlName="title" [value]="editedEvent.title" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
            <label for="description" class="nshc__form-control--label">Description: </label>
            <input id="description" type="text" formControlName="description" [value]="editedEvent.description" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
            <label for="information" class="nshc__form-control--label">Information: </label>
            <input id="information" type="text" formControlName="information" [value]="editedEvent.information" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
          <label for="href" class="nshc__form-control--label">Href: </label>
          <input id="href" type="text" formControlName="href" [value]="formControls.href.value" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
            <label for="active" class="nshc__form-control--label">Active: </label>
            <input id="active" type="checkbox" formControlName="active" [value]="editedEvent.active" class="nshc__form-control--input"/>
        </div>

        <div class="nshc__form-control">
            <button class="nshc__form--button" type="submit">Submit</button>
        </div>

    </form>
</section>
