:host {
  display: block;

  .nshc__page-not-found {
    padding: 2rem;
    margin-bottom: 2rem;

    // Restyling button
    &--link {
      outline: 0;
      border: 0;
      padding: 0;
      text-decoration: underline;
    }
  }

}
