<section class="nshc__page-not-found">
  <h1 class="h2">Page Not Found</h1>
  <p>The page you were looking for cannot be found</p>
  <p>Click <button class="nshc__page-not-found--link" (click)="goPrevious()">here</button> to be navigated back to the previous page</p>
</section>
