<header class="nshc__main--header">
  <h1 class="h2">Welcome to North Stafford Hockey Club</h1>
  <p class="text-justify">Thank you for visiting the home of North Stafford Hockey Club. We are one for the oldest clubs in the
    Midlands formed in 1911, and currently comprise of 5 Men’s teams, 2 Ladies’ teams and a thriving Junior
    section.</p>
</header>

<section class="nshc__main--section-1">
  <ng-template ngFor let-image [ngForOf]="images | async">
    <nshc-site-card [cardDetails]="image"></nshc-site-card>
  </ng-template>
</section>

<aside class="nshc__main--section-2">

  <div class="nshc__main--wrapper">
    <h3 class="w-100 h6">Training times</h3>

    <section class="nshc__main--text nshc__main--text--sm">
      <h5 class="h5">Senior Sessions</h5>
      <p>Men's Training: 6:30pm – 9pm.</p>
      <p>Ladies' Training: 6:30pm – 8pm.</p>
      <p>Tuesday Evening at Newcastle Under Lyme Schools (Astro Pitch).</p>
    </section>

    <section class="nshc__main--text nshc__main--text--sm">
      <h5 class="h5">Junior Training</h5>
      <p>Under 10’s: 6pm – 7pm / Over 10’s 7pm – 8pm</p>
      <p>Monday Evening at Newcastle Under Lyme Schools (Astro Pitch).</p>
    </section>

    <section class="nshc__main--text nshc__main--text--sm">
      <h5 class="h5">Back to Hockey</h5>
      <p>Open to all, come along and invite your friends, family and work colleagues!</p>
      <p>Monday Evening 6pm – 7pm at Newcastle Under Lyme Schools (Astro Pitch).</p>
      <p>Please refer to the Contact Us page for further information.</p>
    </section>
  </div>
</aside>

<section class="nshc__main--section-3">
  <h3 class="w-100 h6">Sponsors</h3>
  <div class="nshc__main--image--wrapper">
    <div *ngFor="let sponsor of sponsors | async" class="nshc__alt-main--image--container">
      <nshc-site-card [cardDetails]="sponsor"></nshc-site-card>
    </div>
  </div>
</section>
