@import "../../../../styles/_variables";

:host {
  display: block;
}

.nshc__alt-main {
  background: var(--bg-color-secondary);
  padding: 1em;
}

.nshc__side {
  background: var(--bg-color-primary);
  padding: 1em;

  z-index: var(--z-index-higher);

  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  @media (max-width: $mobile) {
    flex-direction: column;
  }

}

.nshc__main--wrapper {
  display: flex;
  flex-wrap: wrap;
}

.nshc__main--text {
  margin: 1em 0;
  background: white;
  padding: 2em;
  border: 1px solid rgba(0, 0, 0, 0.25);

  &--sm {
    width: 100%;
  }

  @media (min-width: $desktop) {
    &:last-child {
      margin-bottom: 2rem;
    }
  }
}

.nshc__main--section-1 {
  grid-area: section-1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  align-items: center;
  justify-content: center;

  @media (min-width: $desktop) {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

}

.nshc__main--section-2 {
  grid-area: section-2;
  padding: 2rem;

  @media (min-width: $laptop) {
    background: none;
    padding: 0;
  }

}

.nshc__main--section-3 {
  grid-area: section-3;
  padding: 0;

  @media (min-width: $mobile) {
    padding: 2rem;
  }
}

.nshc__main--header {
  grid-area: header;
  margin: 0 2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;

  @media (min-width: $mobile) {
    width: 50%;
    margin: 0 auto;
  }

}
