@import "variables";

@mixin anti-aliasing() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.w-100 {
  width: 100%;
}

.w-33 {
  width: 100%;

  @media (min-width: 768px) {
    width: 33.3%;
  }
}

.text-c {
  text-align: center;
}

.c-pointer {
  cursor: pointer;
}

.text-justify {
  text-align: justify;
}

.hide {
  &--mobile {
    @media (max-width: $mobile) {
      display: none !important;
    }
  }

  &--laptop {
    @media (max-width: $laptop) {
      display: none !important;
    }
  }
}
