$font: 'Arimo', sans-serif;
$nshc-primary: #000531;
$nshc-primary-dark: #00000c;
$nshc-primary-light: #2a2f5b;
$nshc-secondary: #F5F5F6;
$nshc-secondary-dark: #E1E2E1;
$nshc-text-color: #FFFFFF;

$mobile: 550px;
$tablet: 920px;
$laptop: 1200px;
$desktop: 1650px;
