@import "_variables";

:root {
  /* TEXT */
  --text-color-header: #000531;
  --text-color-primary: #00111F;

  /* BACKGROUND */
  --bg-color-primary: $nshc-secondary;
  --bg-color-secondary: $nshc-primary-dark;

  /* UTILITY */
  --color-white: #fff;

  /* OTHER */
  --border-color-primary: #979797;

  /* Z-index */
  --z-index-normal: 0;
  --z-index-higher: 10;
  --z-index-highest: 100;
}

body {
  display: grid;
  font-size: 14px;
}

.h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.h5 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.h6 {
  font-size: 1rem;
  margin-bottom: 0.75rem;
}

.h2, .h3, .h4, .h5, .h6 {
  color: var(--text-color-primary);
}

figcaption {
  text-align: center;
  padding: 0.5em;
  font-size: 1.1rem;
}

.nshc__main {
  background: var(--bg-color-primary);
  padding-top: 2rem;

  display: grid;
  grid-gap: 0;
  grid-template:
    "header"    auto
    "section-1" auto
    "section-2" auto
    "section-3" auto

        / 100%;

  @media (min-width: $mobile) {
    flex-wrap: wrap;
  }

  @media (min-width: $tablet) {
    grid-template:
      "header       header        header"      auto
      "section-1    section-1     section-2"   auto
      "section-1    section-1     section-2"   auto
      ".            section-3     .        "   auto

        / 3fr 3fr 3fr;
  }

  @media (min-width: $laptop) {
    grid-template:
    ".  header     ."   auto
    ".  section-1  ."   auto
    ".  section-2  ."   auto
    ".  section-3  ."   auto
    / 14% 72% 14%;
  }

}


.nshc__alt-main--container {
  display: flex;
  justify-content: space-around;
  margin: 1em 0;

  @media (max-width: $mobile) {
    flex-wrap: wrap;
  }
}

.nshc__main--image--wrapper {
  display: flex;
  padding: 2rem;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $mobile) {
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
  }
}

.nshc__alt-main--image--container {
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nshc__side--section {
  padding-bottom: 1em;
}

.nshc__side--image--wrapper {
  width: 250px;
  height: 250px;

  border: 1px solid var(--border-color-primary);
  background: gainsboro;
  margin: auto;

}

.nshc__history {
  position: absolute;
  background: var(--color-white);
  box-shadow: 0 0 10px 5px rgba(0,0,0,0.19), 0 0 10px 0 rgba(0,0,0,0.23);
  top: 100%;
  width: calc(100% - 2px);
  display: block;
  margin-left: -31px;
}

@media(min-width: 1200px) {

  .nshc__side {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: -2px 0px 5px 0px rgba(0, 0, 0, 0.15), -5px 0px 5px -2px rgba(0,0,0,0.20);
  }

  .nshc__header {
    //background: linear-gradient(to right, var(--text-color-header) 0%, var(--text-color-header) 50%, var(--text-color-header) 75%, #fff 75%, #fff 100%);
  }

  .nshc__header--nav {
    padding-bottom: 0;
  }

  .nshc__event {
    left: calc(50% - 358px + 99px);
  }

}

// TWITTER
#twitter-widget-0 {
  width: 720px !important;

  @media(min-width: 1200px) {
    width: 100% !important;
  }
}

.mat-button-wrapper {
  color: $nshc-text-color;
  background: $nshc-primary;
}

.mat-snack-bar-handset{
  max-width: 400px;
}

.mat-snack-bar-container {
  background: $nshc-primary-dark;
  color: $nshc-text-color;
}
