@import "variables";
@import "utility";

h1 {
  color: var(--color-white);
}

h2, h3, h4, h5 {
  color: var(--text-color-primary);
}

h1, h2, h3, h4, h5, p, a {
  font-family: $font;
  margin-top: 0;
  margin-bottom: 0.5rem;
  @include anti-aliasing;
}

p {
  color: var(--text-color-primary);
  font-size: 1.1rem;
}

a {
  font-size: 1rem;
}
