<section>
  <header class="nshc__admin--header">
      <h1 class="h2">Admin Area</h1>
  </header>

  <div *ngIf="!loadedDatabase">Loading Database...</div>

  <main *ngIf="loadedDatabase">
    <header class="nshc__admin--header">
      <h2 class="h5">Users in Membership Database</h2>
      <button class="nshc__admin--button" id="export" (click)="exportMembers()">Download Report</button>
      <button class="nshc__admin--button" id="formatDateOfBirthAndAddMissingIds" (click)="formatDateOfBirthAndAddMissingIds()">Format Date Of Birth and Add Missing Ids</button>
      <mark>{{this.number}}</mark>
    </header>

    <section>
        <table class="nshc__admin--table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Coach</th>
                    <th>Comments</th>
                    <th>Date of Birth</th>
                    <th>Disability</th>
                    <th>Doctor</th>
                    <th>Email</th>
                    <th>Ethnicity</th>
                    <th>First Address</th>
                    <th>Gender</th>
                    <th>Given Name</th>
                    <th>Id</th>
                    <th>Medical History</th>
                    <th>Password</th>
                    <th>Phone Number</th>
                    <th>Postcode</th>
                    <th>Second Address</th>
                    <th>Surname</th>
                    <th>Town City</th>
                    <th>Umpire</th>
                    <th>Emergency Contact Name</th>
                    <th>Emergency Contact Number</th>
                    <th>Emergency Contact Relationship</th>
                    <th>Occupation</th>
                    <th>Twitter</th>
                    <th>County</th>
                    <th>Photo Consent</th>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let member of membershipState">
                    <tr (click)="editMember(member)">
                        <td>
                          <div>{{member.firstName}}</div>
                          <div>{{member.lastName}}</div>
                        </td>
                        <td>{{member.coach}}</td>
                        <td>{{member.comments}}</td>
                        <td>{{member.dateOfBirth}}</td>
                        <td>{{member.disability}}</td>
                        <td>{{member.doctor}}</td>
                        <td>{{member.email}}</td>
                        <td>{{member.ethnicity}}</td>
                        <td>{{member.firstAddress}}</td>
                        <td>{{member.gender}}</td>
                        <td>{{member.firstName}}</td>
                        <td>{{member.id}}</td>
                        <td>{{member.medicalHistory}}</td>
                        <td>{{member.password}}</td>
                        <td>{{member.phoneNumber}}</td>
                        <td>{{member.postCode}}</td>
                        <td>{{member.secondAddress}}</td>
                        <td>{{member.lastName}}</td>
                        <td>{{member.townCity}}</td>
                        <td>{{member.umpire}}</td>
                        <td>{{member.emergencyContactName}}</td>
                        <td>{{member.emergencyContactNumber}}</td>
                        <td>{{member.emergencyContactRelationship}}</td>
                        <td>{{member.occupation}}</td>
                        <td>{{member.twitter}}</td>
                        <td>{{member.county}}</td>
                        <td>{{member.photoConsent}}</td>
                    </tr>
                </ng-container>
            </tbody>
        </table>
    </section>
  </main>

  <footer class="nshc__member--footer"></footer>

</section>
