@import "../../../../../../styles/_variables";

:host {
  display: block;
  width: 100%;
  padding: 2rem;

  .nshc__admin--header {
    padding: 2rem 0;
  }

  .nshc__admin--button {
    background: $nshc-primary;
    color: white;
    padding: 1rem 4rem;
    border: 0;
    box-shadow: none;

    &:last-of-type {
      margin-left: 2rem;
    }
  }

  .nshc__admin--sections {
    display: flex;
  }

  .nshc__admin--section {
    display: flex;
    flex-direction: column;

    div {
      width: 200px;
      padding: 0.25rem;
    }
  }

  .nshc__admin--table {
    overflow: scroll;
    display: block;
    width: calc(100vw - 2rem);
    border: 1px solid rgba(0, 0, 0, 0.25);

    @media (min-width: $mobile) {
      width: calc(100vw - 5rem);
    }

  }

}
