@import "../../../styles/variables";

:host {
  padding: 2rem;
  display: block;

  @media (max-width: $mobile) {
    padding: 0;
  }

  .nshc__form-control {
    padding: 1rem 0;
    width: 80%;
    display: block;
    margin: auto;

    &--label {
      color: $nshc-primary;
      display: block;
      font-size: 1rem;
    }

    &--input {
      width: 100%;
      border: none;
      display: block;
      font-size: 1rem;
      padding: 1rem;
    }

    &--link {
      border: 0;
      text-decoration: underline;
      background: none;
      margin: 0;
      padding: 0;
      color: $nshc-primary;
      font-size: 1rem;
    }

    &--checkbox-wrapper {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      padding-top: 1rem;

      label {
        font-size: 1rem;
        margin: 0;
        display: flex;
        align-items: center;
      }

      input {
        margin: 0 1rem;
        width: auto;
      }
    }

  }

  .nshc__form {
    padding: 1rem;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);

    &--wrapper {
      width: 68%;
      max-width: 800px;
      display: block;
      margin: auto;
      border: 0;
      background: #E0E6EB;

      @media (max-width: 920px) {
        width: 100%;
      }
    }

    &--header, &--footer {
      background: white;
      position: relative;
      width: 100%;
      height: 6em;
      padding: 1rem;
      border: 1px solid rgba(0, 0, 0, 0.25);

      h1 {
        color: $nshc-primary;
      }
    }

    &--button {
      background: $nshc-primary;
      color: white;
      padding: 1rem 4rem;
      border: 0;
      box-shadow: none;

      &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
      }
    }
  }

}
