<section class="nshc__form--wrapper">
    <header class="nshc__form--header text-c text-primary">
        <h1 class="h5">Login</h1>
    </header>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" method="post" class="nshc__form">

        <div class="nshc__form-control">
            <label for="username" class="nshc__form-control--label">Email or Id</label>

            <input id="username" type="text" formControlName="username"
                   [ngClass]="{ 'invalid': !submitted && loginFormControls.username.errors && loginFormControls.username.dirty }" class="nshc__form-control--input"/>

            <div *ngIf="submitted && loginFormControls.username.errors" class="nshc__form-control--error">
                <div *ngIf="loginFormControls.username.errors.required">Email or Id is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="password" class="nshc__form-control--label">Password</label>
            <input id="password" type="password" formControlName="password"
                   [ngClass]="{ 'invalid': !submitted && loginFormControls.password.errors && loginFormControls.password.dirty }" class="nshc__form-control--input"/>

            <div *ngIf="submitted && loginFormControls.password.errors" class="nshc__form-control--error">
                <div *ngIf="loginFormControls.password.errors.required">Password is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <button class="nshc__form-control--link" type="button" (click)="forgotPassword()">Forgot Password</button>
        </div>

        <div class="nshc__form-control">
            <button [disabled]="loginForm.invalid || loggingIn" type="submit" class="nshc__form--button">Submit</button>
        </div>

    </form>

    <footer class="nshc__form--header text-c text-primary">
        <p *ngIf="errorMessage">{{errorMessage}}</p>
    </footer>

</section>
