<a *ngIf="cardDetails?.href" [routerLink]="cardDetails.href">
  <figure class="nshc__card--wrapper">
      <img class="nshc__card--img"
           [src]=cardDetails?.imageSrc
           [alt]="cardDetails?.imageAlt"/>
      <figcaption class="nshc__card--text">{{cardDetails?.text}}</figcaption>
  </figure>
</a>
