@import "../../../styles/_variables";

:host {
  display: flex;
  margin: 0;
  flex: 0 1 auto;
  padding: 1rem 2rem;

  .nshc__card {

    &--wrapper {
      margin: 0;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      width: 100%;
      border: 1px solid rgba(0, 0, 0, 0.25);
    }

    &--img {
      max-width: 1200px;
      width: 100%;
      align-self: baseline;
    }

    &--text {
      width: 100%;
      text-align: center;
      max-height: 50%;
      background: white;
      color: var(--text-color-primary);
      position: absolute;
      bottom: 0;
      padding: 20px;
    }

  }
}
