<header>
  <h1 class="h5">Edit Member</h1>
</header>

<form [formGroup]="editMemberForm" (ngSubmit)="updateMember()" method="post">
  <div class="nshc__dialog" *ngIf="formControls.id">
    <label for="id" class="nshc__dialog--label">Id: </label>
    <input id="id" type="text" formControlName="id" [value]="formControls.id.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.givenName">
    <label for="givenName" class="nshc__dialog--label">First Name: </label>
    <input id="givenName" type="text" formControlName="givenName" [value]="formControls.givenName.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.surname">
    <label for="surname" class="nshc__dialog--label">Surname: </label>
    <input id="surname" type="text" formControlName="surname" [value]="formControls.surname.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.dateOfBirth">
    <label for="dateOfBirth" class="nshc__dialog--label">Date of Birth: </label>
    <input id="dateOfBirth" type="date" formControlName="dateOfBirth" [value]="formControls.dateOfBirth.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.email">
    <label for="email" class="nshc__dialog--label">Email: </label>
    <input id="email" type="text" formControlName="email" [value]="formControls.email.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.phoneNumber">
    <label for="phoneNumber" class="nshc__dialog--label">Phone Number: </label>
    <input id="phoneNumber" type="text" formControlName="phoneNumber" [value]="formControls.phoneNumber.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.firstAddress">
    <label for="firstAddress" class="nshc__dialog--label">First Address: </label>
    <input id="firstAddress" type="text" formControlName="firstAddress" [value]="formControls.firstAddress.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.secondAddress">
    <label for="secondAddress" class="nshc__dialog--label">Second Address: </label>
    <input id="secondAddress" type="text" formControlName="firstAddress" [value]="formControls.secondAddress.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.townCity">
    <label for="townCity" class="nshc__dialog--label">Town / City: </label>
    <input id="townCity" type="text" formControlName="townCity" [value]="formControls.townCity.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.postcode">
    <label for="postcode" class="nshc__dialog--label">Postcode: </label>
    <input id="postcode" type="text" formControlName="postcode" [value]="formControls.postcode.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.emergencyContactName">
    <label for="emergencyContactName" class="nshc__dialog--label">Emergency Contact Name: </label>
    <input id="emergencyContactName" type="text" formControlName="emergencyContactName" [value]="formControls.emergencyContactName.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.emergencyContactNumber">
    <label for="emergencyContactNumber" class="nshc__dialog--label">Emergency Contact Number: </label>
    <input id="emergencyContactNumber" type="text" formControlName="emergencyContactNumber" [value]="formControls.emergencyContactNumber.value" class="nshc__dialog--input"/>
  </div>

  <div class="nshc__dialog" *ngIf="formControls.emergencyContactRelationship">
    <label for="emergencyContactRelationship" class="nshc__dialog--label">Emergency Contact Relationship:</label>
    <select id="emergencyContactRelationship" formControlName="emergencyContactRelationship" class="nshc__dialog--input">
      <option value="" selected>Please Select</option>
      <option value="spouse_partner">Spouse/Partner</option>
      <option value="parent_guardian">Parent/Guardian</option>
      <option value="other">Other</option>
    </select>
  </div>

  <button class="nshc__dialog--button" type="submit">Send</button>
</form>

<footer>
    <p class="nshc__dialog--error-text" *ngIf="errorMessage">{{errorMessage}}</p>
</footer>
