@import "../../../styles/_variables";

:host {
  display: block;

  .nshc__header {

    &--main {
      display: flex;
      width: 100%;
      justify-content: space-evenly;
      align-items: center;
      padding: 2rem;
      background: $nshc-primary;

      @media (max-width: $mobile) {
        flex-direction: column-reverse;
      }
    }

  }

  .nshc__header--main--text {
    white-space: pre-line;

    p {
      color: $nshc-secondary;
    }
  }

  .nshc__header--main--image {
    max-width: 150px;

    @media (max-width: $mobile) {
      margin: 1rem;
    }
  }

}
