<header class="w-100">
    <nshc-site-menu></nshc-site-menu>

    <div class="nshc__header--main">
        <div class="nshc__header--main--text">
            <h1>
                Welcome to <wbr/>
                North Stafford <wbr/>
                Hockey Club
            </h1>
            <p>Est. 1911</p>
        </div>

        <img class="nshc__header--main--image"
             src="https://firebasestorage.googleapis.com/v0/b/north-staffs-hockey-club.appspot.com/o/nshc-logo.png?alt=media&token=937dc026-465e-4680-a0e2-31fbe5506b89"
             alt="North Stafford Hockey Club crest">
    </div>

</header>
