@import "../../../../styles/_variables";

:host {

  h1 {
    color: #cccccc;
  }

  .nshc__about {

    &--wrapper {
      display: grid;

      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-gap: 2rem;

      grid-template-areas:
        "header"
        "section-1"
        "section-2"
        "section-3"
      ;

      &:first-child {
        grid-area: section-1;
      }

      &:nth-child(1) {
        grid-area: section-2;
      }

      &:last-child {
        grid-area: section-3;
      }

      margin: 2rem 0;

      @media (min-width: $mobile) {
        margin: 2rem 4rem;
      }

    }

    &--bar {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0 0 0;

      &--start {
        width: 20%;
        text-align: right;
        margin: 0;
        padding: 0 1em;
      }

      &--line {
        width: 60%;
        border: 1px solid $nshc-primary;
        margin: auto;
      }

      &--end {
        width: 20%;
        text-align: left;
        margin: 0;
        padding: 0 1em;
      }

    }

    &--header {
      padding: 0 2rem;
      margin: 0;

      @media (max-width: $mobile) {
        width: auto;
        margin: 0 1em;
      }

    }

    &--text {
      flex: 0 0 60%;

      p {
        //font-size: 22px;
        text-align: justify;

        @media (max-width: $mobile) {
          font-size: 18px;
        }
      }
    }

    &--section {
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;

      @media (max-width: $tablet) {
        &:first-child {
          margin-bottom: 2rem;
        }
      }

      @media (max-width: $tablet) {
        width: 100%;
        align-items: center;
        flex-direction: column;
        padding: 2rem;
      }
    }

    &--picture {
      display: block;
      border: 1px solid rgba(0, 0, 0, 0.25);
    }

    &--image {
      padding: 1rem;
      max-width: 200px;

      @media (min-width: $mobile) {
        max-width: 320px;
      }
    }

  }
}
