

<main class="nshc__about--wrapper">
    <h2 class="nshc__about--header h2">About North Stafford Hockey Club</h2>

    <div class="nshc__about--bar">
      <h5 class="nshc__about--bar--start">1911</h5>
      <div class="nshc__about--bar--line"></div>
      <h5 class="nshc__about--bar--end">{{this.currentYear}}</h5>
    </div>

    <section class="nshc__about--section">
        <div class="nshc__about--text">
            <p>The North Stafford Hockey Club was formed in 1911 by an amalgamation of the Stoke-on-Trent and Porthill
                Clubs. A copy of the Sentinel from 1911 makes reference to a fixture involving the North Staffords.</p>

            <p>Written records of meetings commence in 1921 with the reformation of the club after the 1st World War.
                The pitch at this time was at Longton Cricket Club for a rental of £12 per year. By 1923 the committee
                were looking for a new ground and were offered land at Porthill belonging to one of the members.
                From 1939 to 1944 activity was suspended and no records are available.</p>

            <p>After the war, the land and clubhouse were purchased and at this time there is a single reference to a
                North Stafford Ladies team being permitted to use the pitch “once a week only”. A second pitch was made
                which was eventually used by schools for football. By 1956 the committee were again looking for new land
                after negotiations with Newcastle Borough Council.</p>
        </div>
        <picture class="nshc__about--picture">
            <img class="nshc__about--image" src="https://firebasestorage.googleapis.com/v0/b/north-staffs-hockey-club.appspot.com/o/randle.jpg?alt=media&token=530c390a-db07-4fa4-adfb-83352b970cd9" alt="Leo at North Stafford President's Day">
        </picture>
    </section>

    <section class="nshc__about--section">
        <picture class="nshc__about--picture">
            <img class="nshc__about--image" src="https://firebasestorage.googleapis.com/v0/b/north-staffs-hockey-club.appspot.com/o/finney.jpg?alt=media&token=db0aaa9d-3cb8-441f-b63e-7fb2dd3d0365" alt="Leo at North Stafford President's Day">
        </picture>
        <div class="nshc__about--text">
            <p>Land at Hanford, off Riverside Road, was purchased and two pitches laid. The official opening took place
                in 1961. However, with the building of the motorway link road (A500) from Hanford to Hanchurch the
                drainage was affected. Expert advice was sought, but it was evident that the situation could not be
                improved without great expense. As a result, once again a search for new land began. Two sites were
                investigated. One, at Forsbrook, was rejected as being too far out. The other was at Whisper Lane,
                and in 1968 talks began with the Shamblers Football Club who were looking for a new pitch. The land was
                obtained on a 99 year lease and in 1971 the North Stafford Sports Club was formed. The official opening
                was held in 1974 and in 1978 Newcastle Ladies Hockey Club became members of the Sports Club.</p>
        </div>
    </section>

    <section class="nshc__about--section">
        <div class="nshc__about--text">
            <p>The ladies started sometime before the 2nd World War as Dominoes Ladies Hockey Club. After the war they
                played on the LMS Sports Ground which was behind the North Stafford Hotel. About 1949 – 50 they formed
                a new club and became Newcastle Ladies with their ground at Westlands Girls School (now Friarswood).
                As this was not a full size pitch they negotiated a move to the outfield at Newcastle & Hartshill CC.
                After joining the Sports Club they changed their name to become North Stafford Ladies in 1982.</p>

            <p>As the use of grass pitches declined, with the move to artificial surfaces, it was decided at the start
                of 2006 to sever links with the Sports Club and operate again as the North Stafford Hockey Club but this
                time with a Ladies section. The move was completed to using the pitch at Newcastle-under-Lyme School
                and the facilities of the nearby 45 Club.</p>
        </div>
        <picture class="nshc__about--picture">
            <img class="nshc__about--image" src="https://firebasestorage.googleapis.com/v0/b/north-staffs-hockey-club.appspot.com/o/gk.jpg?alt=media&token=e7b04a75-9f98-42b7-839c-7d7948a275ac" alt="Leo at North Stafford President's Day">
        </picture>
    </section>

</main>
