@import "../../../styles/_variables";

:host {
  display: block;
  padding: 4rem;
  background: linear-gradient(90deg, $nshc-primary 75%, $nshc-secondary 25%);
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    padding: 0;
  }

  h1 {
    color: #cccccc;
  }

  .nshc__form-control {
    padding: 1rem 0;
    width: 80%;
    margin: auto;

    &--label {
      color: $nshc-primary;
      display: block;
      font-size: 1rem;
    }

    &--input {
      width: 100%;
      border: none;
      display: block;
      font-size: 1rem;
      padding: 1rem;
    }

    &--error {
      padding-top: 1rem;
      color: red;
    }

  }

  .nshc__form {
    padding: 1rem;

    &--wrapper {
      width: 68%;
      max-width: 800px;
      display: block;
      margin: auto;
      background: #E0E6EB;

      @media (max-width: 920px) {
        width: 100%;
      }
    }

    &--header, &--footer {
      background: white;
      padding: 1rem;
    }

    &--button {
      background: $nshc-primary;
      color: white;
      padding: 1em 4em;
      border: 0;
      box-shadow: none;

      &:disabled {
        opacity: 0.25;
        cursor: not-allowed;
      }
    }
  }

  .invalid {
    border: 1px solid red;
  }

}
