<nshc-site-map></nshc-site-map>

<div class="nshc__form--wrapper">
    <div class="nshc__form--header text-c">
        <h3>Do you have a question regarding North Stafford Hockey Club?</h3>
        <p>Contact us using the contact form:</p>
    </div>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" method="post" class="nshc__form">


        <div class="nshc__form-control">
            <label for="firstName" class="nshc__form-control--label">First Name</label>

            <input id="firstName" type="text" formControlName="firstName"
                   [ngClass]="{ 'invalid': !submitted && formControls.firstName.errors && formControls.lastName.dirty }"
                   class="nshc__form-control--input"/>

            <div *ngIf="submitted && formControls.firstName.errors" class="nshc__form-control--error">
                <div *ngIf="formControls.firstName.errors.required">First Name is required</div>
                <div *ngIf="formControls.firstName.errors.pattern">First Name has been added incorrectly</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="lastName" class="nshc__form-control--label">Last Name</label>

            <input id="lastName" type="text" formControlName="lastName"
                   [ngClass]="{ 'invalid': !submitted && formControls.firstName.errors && formControls.lastName.dirty }" class="nshc__form-control--input"/>

            <div *ngIf="submitted && formControls.lastName.errors" class="nshc__form-control--error">
                <div *ngIf="formControls.lastName.errors.required">Last Name is required</div>
                <div *ngIf="formControls.lastName.errors.pattern">Last Name has been added incorrectly</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="email" class="nshc__form-control--label">Email</label>

            <input id="email" type="text" formControlName="email"
               [ngClass]="{ 'invalid': !submitted && formControls.email.errors && formControls.email.dirty }" class="nshc__form-control--input"/>

            <div *ngIf="submitted && formControls.email.errors" class="nshc__form-control--error">
                <div *ngIf="formControls.email.errors.required">Last Name is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="subject" class="nshc__form-control--label">Subject</label>
            <input id="subject" type="text" formControlName="subject"
                   [ngClass]="{ 'invalid': !submitted && formControls.subject.errors && formControls.subject.dirty }" class="nshc__form-control--input"/>

            <div *ngIf="submitted && formControls.subject.errors" class="nshc__form-control--error">
                <div *ngIf="formControls.subject.errors.required">Subject is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <label for="message" class="nshc__form-control--label">Message</label>
            <textarea id="message" formControlName="message"
               [ngClass]="{ 'invalid': !submitted && formControls.message.errors && formControls.message.dirty }" class="nshc__form-control--input"></textarea>

            <div *ngIf="submitted && formControls.message.errors" class="nshc__form-control--error">
                <div *ngIf="formControls.message.errors.required">Message is required</div>
            </div>
        </div>

        <div class="nshc__form-control">
            <button [disabled]="sendingContactForm" type="submit" class="nshc__form--button">Submit</button>
        </div>

        <div *ngIf="emailMessage">
            <h5>{{emailMessage}}</h5>
        </div>

    </form>

    <div class="nshc__form--footer text-c">
        <h3>Alternatively you can also text us</h3>
        <p>Tel: 07768-595-888</p>
    </div>

</div>
