<nshc-site-header class="nshc__header"></nshc-site-header>

<nshc-site-highlight></nshc-site-highlight>

<main class="nshc__main">
  <router-outlet></router-outlet>
</main>

<nshc-site-footer class="nshc__footer"></nshc-site-footer>
